
#cargar{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  height: 100%;
  width: 100%;
}


#modalconent2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background: #fff;   
  width: 60%;
  height: 70%;
  padding-left: 20px;
  padding-top: 10px;
}
