/*Modal Inicio*/
#inicio{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  height: 100%;
  width: 100%;
}


#modalconent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-left: 20px;
  color: white;
}

#modalconent h1{
  font-size: 4em;
  margin-bottom: 5%;
}

#modalconent p{
  font-size: 1em;
}