.chip {
    clear: both;
    width: 150px;
    height: 50px;
    padding-top: 5%;
    margin-top: 12px;
}

.nameChip{
    height: 30px;
    width: 100%;
    text-align: center;
    margin-left: 7%;
    border-radius: 25px;
    color: white;
    background-color: #D35400;
    border-style: groove;
    border-color: #A04000;
}

.chip img {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: #A04000;
    border-style: groove;
    border-right: none;
    margin-top: -3%;
}

.item{
    text-align: center;
    color: #D35400;
}