#menu {
    float: right;
    position: absolute;
    width: 100%;     
    padding-right: 5%;
    z-index: 9999;
}

#menu button{
    background-color: #1D8348;  
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.7vw;
    width: 4%;
    height: 20%;
}

#menu button:hover {
    background-color: #EAFAF1;
}
