.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  box-sizing: border-box;
  font-size: 18px;
  height: 50px;
  left: 50%;
  padding: 10px 0px;
  top: 50%;
  width: 30%;
  margin-top: 1%;
  margin-bottom: 2%;
  text-align: center;

}

.input:focus{
    outline: none;
}

::-webkit-input-placeholder { 
    color:    #fff;
    opacity:  0.7;
}
:-moz-placeholder {
   color:    #fff;
   opacity:  0.7;
}
::-moz-placeholder { 
   color:    #fff;
   opacity:  0.7;
}
:-ms-input-placeholder { 
   color:    #fff;
   opacity:  0.7;
}
::-ms-input-placeholder { 
   color:    #fff;
   opacity:  0.7;
}

#buscador button{
  border:none;
  border-radius: 25px;
  background-color: #0ed2f7;
  color: white;
  font-size: 1vw;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 10%;
}

#buscador button:focus{
  outline: none;
}

#buscador button:hover{
  background-color: #fff;
  color: #56CCF2;
}