#contenedorUsuario{
    margin-top: 5%;
    text-align: center;
    height: 50%;
    width: 100%;
}

#contenedorUsuario img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#github{
    color: white;
    background-color: #2874A6;
}

#github:hover{
    background-color: #D6EAF8;
}
